<div>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <app-index-card imgSrc="assets/images/sparkfun.png" shape="circle"></app-index-card> -->
      Web Development
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <app-index-card imgSrc="assets/images/sparkfun.png" shape="circle"></app-index-card> -->
    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <app-index-card imgSrc="assets/images/swing.jpg" shape="circle"></app-index-card> -->
      Li Li
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <app-index-card imgSrc="assets/images/phd.jpg" shape="circle"></app-index-card> -->
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <app-index-card imgSrc="assets/images/swing.jpg" shape="circle"></app-index-card> -->
      Robotics
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <app-index-card imgSrc="assets/images/phd.jpg" shape="circle"></app-index-card> -->
    </mat-grid-tile>
    <mat-grid-tile>
      Research
    </mat-grid-tile>
  </mat-grid-list> 
</div>
